<div class="container">
    <legend>Edit Cake</legend>
    <form [formGroup]="cakeForm!" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="txtName" class="form-label">Name of Cake</label>
      <input
        type="text"
        name="name"
        formControlName="name"
        class="form-control"
        id="txtName"
      />
    </div>
    <div class="mb-3">
      <label for="txtdescription" class="form-label">Description</label>
  
      <textarea
        type="text"
        name="description"
        formControlName="description"
        class="form-control"
        id="txtdescription"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="txtCost" class="form-label">Cost</label>
      <input
        type="number"
        name="cost"
        formControlName="cost"
        class="form-control"
        id="txtCost"
      />
    </div>
    <button  class="btn btn-warning" type="submit">Update</button>
  </form>
  </div>
  